/* You can add global styles to this file, and also import other style files */
body{
    background-color: #57B2DC;
}
.container{
    background-color: #e6e6e6;
    min-height: 600px;
    color: #000;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
.page-header{
    background-color: aliceblue;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #c1c1c1;
    margin: 0px 0px;
    font-size: 14px;
}
.list-item{
    border: 1px solid #ccc;
    border-radius: 6px;
    background: aliceblue;
    a{
        color: #227BB1;
        cursor: pointer;
        font-size: 16px;

    }
}
.backToHome{
    float: left;
    border: 1px dotted;
    padding: 8PX;
    position: relative;
    top: -10px
}
.tab-ul{
    
    margin-bottom: 0px;
    font-size: 13px;
    .tab-list{
        border: none;
        background: #e6e6e6;
        margin-right: 15px;
        cursor: pointer;
        padding: 12px 5px;
        &.active{
            border-bottom: 3px solid #227BB1;
            border-radius: 0px;
            color: #227BB1;
        }
    }
}
.tab-content{
    background-color: #fff;
    border-top: 2px solid #B8E1FB;
    border-bottom: 2px solid #B8E1FB;
    font-size: 12px;
 
}
.custom-container{
    margin: 35px auto;
    width: 50%;
    padding: 20px 20px;
    background: #fff;
}
.search{
    width: 50%;
    outline-offset: -1px;
    border: 1px solid #000;
    height: 30px;
    border-radius: 4px;
    padding: 10px;
}
.sort-filter{
    padding:0px;
    h4{
        padding: 5px 15px;
        margin: 0px;
        border-bottom: 1px solid #c1c1c1;
        color: blue;
    }
    .inner{
        .custom-radio{
            vertical-align: unset;
            padding: 5px 3.5rem;
            font-size: 12px;
            border-bottom: 1px solid #c1c1c1;
            &:hover{
                background-color: aliceblue;
            }
        }
    }
}
.modal-header{
    background: aliceblue;
    border-bottom: 1px solid #c1c1c1;
    padding:0px;
    .page-header{
        border: none;
    }
}
.modal-footer{
    background-color: midnightblue;
    margin-top:50px;
}
