/* You can add global styles to this file, and also import other style files */
body{
    background-color: #57B2DC;
}
.container{
    background-color: #e0e0e0;
    height: 500px;
    color: #000;
}
.page-header{
    background-color: #B8E1FB;
    text-align: center;
    padding: 10px;
}
.list-item{
    border: 1px solid #ccc;
    border-radius: 6px;
    background: aliceblue;
    a{
        color: #227BB1;
        cursor: pointer;
        font-size: 10px;

    }
}
.backToHome{
    float: left;
    border: 1px dotted;
    padding: 8PX;
    position: relative;
    top: -10px
}
.tab-ul{
    
    margin-bottom: 0px;
    font-size: 13px;
    .tab-list{
        border: none;
        background: #e1e1e1;
        margin-right: 15px;
        cursor: pointer;
        padding: 12px 5px;
        &.active{
            border-bottom: 3px solid #227BB1;
            border-radius: 0px;
            color: #227BB1;
        }
    }
}
.tab-content{
    background-color: #fff;
    border-top: 2px solid #B8E1FB;
    border-bottom: 2px solid #B8E1FB;
    font-size: 12px;
    div{
        padding: 12px 12px;
    }
}
