<div class="container">
    <div class="page-header">
        <span class="backToHome" (click)="backToHome()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
            </span>
        <span>Employee Details</span>
    </div>
    <div class="employees">
        <div class="row emp-id-details">
            <div class="col-md-8">EmployeeID: {{id}}</div>
            <div class="col-md-4"><a (click) = "goToResume()">Flip to Resume</a></div>
        </div>
        <ul class="list-inline list-unstyle">
            <li class="empDetails" *ngFor="let employee of employeeData?.employeesDetails">
                <p><label>First Name</label>:&nbsp;&nbsp;{{employee.firstName}}</p>
                <p><label>Last Name</label>:&nbsp;&nbsp; {{employee.lastName}}</p>
                <p><label>Address</label>:&nbsp;&nbsp; {{employee.address}}</p>
                <p><label>City</label>:&nbsp;&nbsp; {{employee.city}}</p>
                <p><label>Postal Code</label>:&nbsp;&nbsp; {{employee.postalCode}}</p>
                <p><label>Phone(Home)</label>:&nbsp;&nbsp; {{employee.phone}}</p>
                <p><label>Country</label>:&nbsp;&nbsp; {{employee.country}}</p>
            </li>
            <li *ngIf="!employeeData"><h2>No Search Found</h2></li>
        </ul>
        
    </div>
</div>
