<div class="container">
    <div class="page-header">
        <span class="backToHome" (click)="backToHome()">
            <i class="glyphicon glyphicon-chevron-left">
            </i>
        </span>
        <span>Employee Details {{employeeData.firstName}} {{employeeData.lastName}}</span>
    </div>
    <div class="employees">
        <div class="row emp-id-details">
            <div class="col-md-8"><h3>EmployeeID: {{id}}</h3></div>
            <div class="col-md-4"><a (click) = "goToResume(employeeData.id)">Flip to Resume</a></div>
        </div>
        <ul class="list-unstyle">
            <li class="empDetails row">
                <div class="emp-info col-md-8">
                    <p><label>First Name</label>:&nbsp;&nbsp;{{employeeData.firstName}}</p>
                    <p><label>Last Name</label>:&nbsp;&nbsp; {{employeeData.lastName}}</p>
                    <p><label>Address</label>:&nbsp;&nbsp; {{employeeData.address}}</p>
                    <p><label>City</label>:&nbsp;&nbsp; {{employeeData.city}}</p>
                    <p><label>Postal Code</label>:&nbsp;&nbsp; {{employeeData.postalCode}}</p>
                    <p><label>Phone(Home)</label>:&nbsp;&nbsp; <a href="/">{{employeeData.phone}}</a></p>
                    <p><label>Country</label>:&nbsp;&nbsp; {{employeeData.country}}</p>
                </div>
                <div class="emp-imge col-md-4">
                    <img [src]="employeeData.imgurl" width="300px" height="200px">
                </div>
            </li>
           
            <li *ngIf="!employeeData"><h2>No Search Found</h2></li>
        </ul>
        
    </div>
</div>
