<div class="container">
    <div class="page-header">
        <span class="backToHome" (click)="backToHome()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
            </span>
        <span>Employee List</span>
    </div>
    
    <div class="employees">
        <ul class="list-inline list-unstyle">
            <li style="background-color: none;">
                <input type="search"  style="width: 50%;" placeholder="search" [(ngModel)]="filterSearchValue">
            </li>
            
            <li>List of Employees</li>
            <li *ngFor="let employee of employeeData?.employees | search:filterSearchValue">
                <a (click) = "empDetails(employee.id)">{{employee.firstName}} {{employee.lastName}}</a>
                <i  class="glyphicon glyphicon-chevron-right" style="float: right;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                    </svg>
                </i>
            </li>
            <li *ngIf="!employeeData"><h2>No Search Found</h2></li>
        </ul>
        
    </div>
</div>
