.employees{
    // background:silver;
    background: aliceblue;
    li{
        background: #fff;
        font-size: small;
        padding: 5px 10px;
        border-bottom: 1px solid #ccc;
        :first-child{
            background: none;
        }
    }
    :hover{
        background-color: #e1e1e1;
        cursor: pointer;
    }
    
}
.editdelet{
    padding: 1px 5px;
    border: 1px solid;
    border-radius: 3px;
    background-color: aliceblue;
    margin: 2px;
}
.search-icons{
    span{
        font-size: 18px;
        margin: 13px 10px;  
    }
}
.custom-control{
    vertical-align: unset;
    padding: 10px 1.5rem;
    font-size: 12px;
    .inner{
        border-top: 1px solid #c1c1c1;
        border-bottom: 1px solid #c1c1c1;
    }
}
.modal-content{
    .tab-content {
        border-top: 1px solid #c1c1c1;
        border-bottom: none;
    }
    .nav-tabs{
        display: inline-block;
        border: 1px solid #c1c1c1;
        border-radius: 2px;
        margin: 5px;
        height: 24px;
        a{
            padding: 5px;
            border-radius: initial;
            line-height: 0px;
        }
        .nav-tabs>li {
            float: left;
            margin-bottom: -8px;
            a.active{
                background-color: midnightblue;
            }
        }
        
    }
}

.nav-tabs>li.active>a{
    color: blue;
    background:aliceblue;
}
.resetView{
    background-color: aliceblue;
    position: relative;
    bottom:50%;
    left:20px;
    font-size: 16px;
    float:right;
}
.objecthead{
    padding: 20px;
    background-color: #57B2DC;
}
ul{
    margin: 0px;
    list-style: none;
}
.empDetails{
    font-size: 12px;
    padding: 12px 15px 0px;
    line-height: 15px;
    border-bottom: 1px solid #c1c1c1;
    vertical-align: top;
    border-top: 1px solid #c1c1c1;
}
.list-item11{
    li{
        background-color: #fff;
        padding: 10px 0px;
        border-bottom: 1px solid silver;
        margin: 0px 0px;
    }
}
.emp-list{
    padding: 0;
    list-style: none;
    overflow-y: scroll;
}